/* STYLE GUIDE STYLING */
*, *::after, *::before {
	box-sizing: border-box;
}

.grid {
	display: flex;
	flex-wrap: wrap;
  width: 100%;
	height: 100%;
}

html {
    background-color: rgb(20, 20, 20);
}

header {
  padding:3em 3em 0 3em;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.5em;
  color: white;
  margin:1% 5% 3% 5%;
  font-weight: 100;

}

.element {
  padding:4em;
  margin-bottom: 2em;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: black;
}

.element_pages {
  padding: 2em;
  margin-bottom: 2em;
  border: none;
}

code {
  background-color: #000;
  padding: 0.5em;
  display: block;
}

img {
  display: flow-root;
  margin: auto;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text link */
.in-text-style  {
  color: white;
  font-style: italic;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.in-text-style:hover {
  color: rgb(207, 131, 42);
  transition: 0.3s;
} 

/* Styling for the navigation button */
.button-nav, .button-submit {
  background-color: #000;
}

.button-nav {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: rgb(10, 10, 10);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  color: white;
}

.button-nav:hover, .button-nav:focus {
  transition-duration: 0.3s;
  background-color: rgb(207, 131, 42);
}


/* Styling for the navigation button and submit button */
.button-submit {
  display: inline-block;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: white;
  padding: 0.5em 2em;
}

.button-submit:hover, .button-submit:focus {
  text-decoration: none;
  transition-duration: 0.3s;
  color: rgb(207, 131, 42);
}

/* Styling for Text input field with label */
input {
  width: 100%;
  padding: 8px 20px;
  /* margin: 3px 0; */
  box-sizing: border-box;
  border: 1px;
  border-radius: 2px;
  background-color: rgb(30, 30, 30);
  color: rgb(207, 131, 42);
  font-size: 0.9em;
}

input:hover :focus {
  outline: none;
}


/* Styling Radio button with label */
/* The container */
.payment-method {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-style: normal;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.payment-method input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.payment-method:hover input ~ .checkmark {
  background-color: grey;
}

/* When the radio button is checked, add a golden background */
.payment-method input:checked ~ .checkmark {
  background-color: rgb(207, 131, 42);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.payment-method input:checked ~ .checkmark:after {
  display: block;
}

/* Styling form */
form {
  padding: 1em 0 1em 0;
}

/* Styling Image as a link */
.image-main:hover, .image-main:focus {
  transition: 0.5s;
  opacity: 0.5;
}

/* Styling numbered lists */
ol {
  color: rgb(220, 220, 220);
  margin-bottom: 2em;
}

/*
  TEXT ELEMENTS -------------------
*/
/*
h1 {
  font-family: freight-sans-pro, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  text-align: center;
} */

h2 {
  font-family: 'Amiri', serif;
  font-size: 2.3rem;
  letter-spacing: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  line-height: 1.5em;
}

h3 {
  margin-top: 1em;
  font-weight: 100;
  font-size: 1.8rem;
  color: rgb(207, 131, 42);
}

h4 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.25em;
}

h5 {
  font-size: 0.8rem;
  margin-top: 1em;
}



/*
  COMBINED ELEMENTS -------------------
*/
/* Styling Main navigation */

nav a, .dropdown-content a {
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 1.8em;
  text-align: left;
  padding-left: 1em;
  font-weight: 100;
  color: grey;
}

/* nav a:hover, nav a:focus, .dropdown-content a:hover, .dropdown-content a:focus {
  text-decoration: none;
  transition-duration: 0.5s;
  color: rgb(207, 131, 42);
} */

.menu-content a {
  font-size: 1rem;
  line-height: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: grey;
	float: left;
  margin: 1% 0 5% 0;
  width: 20%;
	text-align: center;
}

.menu-content a:hover {
	color: white;
	transition: 0.5s;
}

  /* Styling for the dropdown navigation bar in responsive webpages*/
	button {
    background: none;
    border: none;
  }

  .menu-button {
  width: 35px;
  height: 3px;
  background-color: rgb(207, 131, 42);
  margin: 6px 0;
  }

  .dropdown button:hover :focus{
   transform: rotate(90deg);
   transition: 0.5s;
  }

  .dropdown {
  display: none;
  width: 100%;
  margin: 0 0 1em 0;
  border: none;
  }

  .dropdown-content {
  display: none;
  /* position: absolute; */
  background: none;
  padding-top: 1em;
  padding-left: 0em;
  margin-left: 0;
  width: 100%;
  z-index: 1;
  width: 100%;
  }

  .dropdown-content a {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
	font-weight: bold;
  text-align: left;
  }

  .dropdown-content a:hover {
    color: white;
    transition: 0.5s;
  }

  .dropdown:hover .dropdown-content {display: block;}


/* Styling Product listing's and checkout's container */
* {
	box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.container div {
  border: none;
  padding: 2%;
}

.container img {
  opacity: 1;
}

.container img:hover {
  opacity: 0.8;
}

#about_img img:hover {
  opacity: 1;
}

.container-checkout {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-checkout div {
  border: none;
  padding: 1.5%;
}

.block {
	flex-grow: 1;
	flex-basis: 350px;
}

.block-checkout {
	flex-basis: 270px;
}

#block-flex-grow-1 {
  flex-grow: 1;
}

#block-flex-grow-2 {
  flex-grow: 6;
  margin-top: 4em;
  border-radius: 0.2em;
  border: 1px solid grey;
  padding:0 2em 2em 2em;
}







/* Media Queries */
@media screen and (max-width: 992px) {
  body {
    line-height: normal;
  }

  h2 {
    font-size: 2.5em;
  }

  header {
    padding:1em 1em 0 1em;
  }

	/* Hide the menu bar and show the dropdown menu */
		.dropdown, .dropdown a {
			display: inline;
		}
		.menu-content {
			display: none;
		}
}

@media screen and (max-width: 600px) {
  body {
    margin:0;
		margin-bottom: 5%;
    line-height: normal;
  }

  h2 {
    font-size: 2em;
  }

  header {
    padding:1em 1em 0 1em;
  }

/* Hide the menu bar and show the dropdown menu */
	.dropdown, .dropdown a {
		display: inline;
	}
	.menu-content {
		display: none;
	}

  .block {
	flex-grow: 1;
	/* flex-basis: 20%; */
}
}

.padding-down {
	padding-bottom: 1.5em;
}

/* Footer */
footer {
	margin-top: 7%;
}

.in-text-style-footer  {
	font-size: 0.8rem;
	color: white;
  font-weight: bold;
  align: center;
}


.in-text-style-footer:hover {
  color: rgb(207, 131, 42);
  transition: 0.3s;
}
